.flex {
    display: flex;
}

.form {
    background-color: #f6f8f8;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 0 auto;
}

.form form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.back_btn {
    color: #2bc48a;
    text-decoration: 0;
    display: flex;
    align-items: center;
}

.back_btn img {
    height: 16px;
    margin-right: 5px;
}

h2 {
    margin: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
}

.erreur_message {
    color: red;
    font-size: 12px;
}

label {
    margin-top: 5px;
    text-transform: uppercase;
}

input {
    padding: 5px;
    border: 1px solid #999;
    outline: 0;
    margin-top: 2px;
}

input:focus {
    border: 1px solid #ffcb61;
}

input[type="submit"] {
    margin-top: 25px;
    background-color: #2bc48a;
    border: 1px solid #2bc48a;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}

table {
    margin-top: 30px;
    border-collapse: collapse;
    color: #404040;
}

th {
    font-size: 16px;
    border-bottom: 3px solid #ffcb61;
    padding: 5PX 20px;
    font-weight: 500;
}

td {
    font-weight: 400;
    padding: 5px 54px;
    font-size: 14px;

}

img {
    height: 25px;
    width: 25px;
}

tr:nth-child(2n) {
    background-color: #f6f8f8;
}

tr:nth-child(2n) td {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

td a {
    width: auto;
    margin-left: 35PX;
}